[mysqld]
innodb_file_per_table
open_files_limit = 100000
query_cache_size=8000000
query_cache_type=1
binlog_format=ROW
default-storage-engine=innodb
innodb_autoinc_lock_mode=2
innodb_large_prefix=1
innodb_flush_log_at_trx_commit=0
bind-address=0.0.0.0
max_connect_errors=100000
max_connections=500
max_allowed_packet=128M
transaction-isolation=READ-COMMITTED
innodb_flush_method=O_DIRECT

wsrep_provider=/usr/lib/libgalera_smm.so
wsrep_slave_threads=2
wsrep_on=1
wsrep_sst_method=rsync
